@import "tailwindcss";

/* 🔹 Asosiy ranglarni CSS o'zgaruvchi sifatida */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1d4ed8;
}

/* 🔹 Tailwind ranglarni o'qib ishlatishi uchun */
@theme inline {
  --color-primary: var(--primary);
  /* asosiy rang */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* 🔹 Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }

  @theme inline {
    --color-primary: var(--primary);
  }
}

@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-Bold.ttf') format('woff2');
  font-weight: 700;
  /* Bold */
  font-style: normal;
}

/* 🔹 Body uchun default stil */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Gilroy', sans-serif !important;
}

/* 🔹 Qo'shimcha utility'lar */